<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/xterm.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/xterm.min.js"></script>

    {{ navbar .Navbar }}

    <style>
        .wrapper {
            display: flex;
            align-items: stretch;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
        }
    </style>
</head>

<body>
    <div class="container wrapper">

        {{ adminnavbar . }}

        <div id="content">
            <h1 class="h2">{{ .Name }}</h1>
            <div id="terminal"></div>
            <script>
                var term = new Terminal();
                term.open(document.getElementById('terminal'));
                term.setOption('convertEol', true);
                term.setOption('disableStdin', true);

                // TODO: Do wss here if the page is served over https
                var socket = new WebSocket("ws://" + document.location.host + "/admin/plugin/stdout?name={{ .Name }}");
                socket.onmessage = function (event) {
                    term.write(event.data);
                };
            </script>
        </div>
    </div>
</body>

</html>