<html>

<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/css/dataTables.bootstrap5.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/jquery.dataTables.min.js"></script>
  <script src="/js/lib/bootstrap.bundle.min.js"></script>
  <script src="/js/lib/dataTables.bootstrap5.min.js"></script>
  <script src="/js/lib/tus.min.js"></script>

  {{ navbar .Navbar }}

  <script src="/js/folder.js"></script>
</head>

<body class="text-center">
  <div class="container">
    <form enctype="multipart/form-data" action="/api/upload" method="POST">
      <div class="file-upload-wrapper input-group">
        <input type="file" id="input-file-now-custom-2" name="file" class="file-upload form-control-sm" multiple/>
        <button class="btn btn-primary" id="uploadButton">Upload</button>
      </div>
      <div class="progress" style="visibility:hidden">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%;"></div>
      </div>
    </form>

    <div id="liveAlertPlaceholder"></div>

    <div class="table">
      <table class="table table-striped" style="width:100%" id="directory">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created At</th>
            <th>Size</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="list-group list-group-flush container-fluid vh-100">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas</h5>
        <a id="offcanvasDownloadLink">
          <!-- https://icons.getbootstrap.com/icons/download/ -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
            viewBox="0 0 16 16">
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
          </svg>
        </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <ul id="fileinfoBody" class="offcanvas-body">
      </ul>
    </div>
  </div>
</body>

</html>